.section-4 {
  z-index: 200;
}

.section-4__wrapper {
  @include flex-center;
  flex-direction: column;
}
.section-4__bg {
  width: 110%;
  height: 110%;
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url(/images/section-4-bg.jpg) center no-repeat;
  background-size: cover;
  z-index: -1;
  filter: blur(0.5rem);
}

.section-4__heading {
  font-size: 10rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 7rem;
  color: #d50000;
  user-select: none;
}
.section-4__new-wines-img {
  width: 50rem;
  border: 0.1rem solid #fff;
  padding: 1rem;
  opacity: 0.7;
}
